Built/Modbus/Modbus_Custom_Device.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Modbus_Custom_Device">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General_Settings">
          <xs:complexType>
			<xs:all>          
				<xs:element name="Modbus_Type" maxOccurs="1">
						<xs:simpleType>
							 <xs:restriction base="xs:string">
							   <xs:enumeration value="Undefined"/>
							   <xs:enumeration value="Master"/>
							   <xs:enumeration value="Slave"/>
							 </xs:restriction>
						</xs:simpleType>
				</xs:element>
				<xs:element name="Communication_Type" maxOccurs="1">
						<xs:simpleType>
							 <xs:restriction base="xs:string">
							   <xs:enumeration value="Undefined"/>
							   <xs:enumeration value="TCP"/>
							   <xs:enumeration value="Serial"/>
							 </xs:restriction>
						</xs:simpleType>
				</xs:element>
				<xs:element type="xs:long" name="Read_Write_Loop_Period" default="-1" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:unsignedShort" name="TCP_Settings_Port" minOccurs="0" default="502" maxOccurs="1"/>
				<xs:element type="xs:string" name="TCP_Settings_IP_Slave_Address"  minOccurs="0" maxOccurs="1"/>
				<xs:element type="xs:unsignedInt" name="TCP_Settings_IP_Timeout"  minOccurs="0" default="100" maxOccurs="1"/>
				<xs:element type="xs:string" name="Serial_Settings_Resource_Name" minOccurs="0" maxOccurs="1"/>
				<xs:element type="xs:byte" name="Serial_Settings_Unit_ID" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Serial_Settings_Serial_Type" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							 <xs:restriction base="xs:string">
							   <xs:enumeration value="RTU"/>
							   <xs:enumeration value="ASCII"/>
							 </xs:restriction>
						</xs:simpleType>
				</xs:element>
				<xs:element type="xs:unsignedInt" name="Serial_Settings_Baud_Rate" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Serial_Settings_Parity" minOccurs="0">
						<xs:simpleType>
							 <xs:restriction base="xs:string">
							   <xs:enumeration value="None"/>
							   <xs:enumeration value="Odd"/>
							   <xs:enumeration value="Even"/>
							 </xs:restriction>
						</xs:simpleType>
				</xs:element>
				<xs:element name="Serial_Settings_Flow_Control" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							 <xs:restriction base="xs:string">
							   <xs:enumeration value="None"/>
							   <xs:enumeration value="XON/XOFF"/>
							   <xs:enumeration value="RTS/CTS"/>
							   <xs:enumeration value="XON/XOFF AND RTS/CTS"/>
							   <xs:enumeration value="DTR/DSR"/>
							   <xs:enumeration value="XON/XOFF AND DTR/DSR"/>
							   </xs:restriction>
						</xs:simpleType>
				</xs:element>
			</xs:all>
		  </xs:complexType>
        </xs:element>
        <xs:element name="Modbus_Items">
          <xs:complexType>
		  
			<xs:choice minOccurs="1" maxOccurs="unbounded">          
				<xs:element name="Read_Coils">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Read_Discrete_Inputs">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Read_Holding_Registers">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Read_Input_Registers">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Write_Single_Coil" minOccurs="0">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Address"/>
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Write_Single_Holding_Register" minOccurs="0">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Address"/>
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Write_Multiple_Coils">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="Write_Multiple_Holding_Registers">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>

				<xs:element name="Write_Multiple_Discrete_Inputs">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>


				<xs:element name="Write_Multiple_Input_Registers">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element type="xs:string" name="Base_Name"/>
					  <xs:element type="xs:unsignedShort" name="Starting_Address"/>
					  <xs:element name="Quantity">
						<xs:simpleType>
							 <xs:restriction base="xs:unsignedShort">
							   <xs:minInclusive value="1"/>
							 </xs:restriction>
						   </xs:simpleType>
						 </xs:element> 
					</xs:sequence>
				  </xs:complexType>
				</xs:element>


				
				</xs:choice>

		  </xs:complexType>
		  

				
		  </xs:element>
      </xs:sequence>
    </xs:complexType>
  	<xs:unique name="testBaseNameUniqueness"> 
		<xs:selector xpath="Modbus_Items/*/Base_Name"/> 
		<xs:field xpath="."/> 
	</xs:unique> 
  </xs:element>
</xs:schema>